*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
html {
    font-size: 16px;
}
body {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #cecece;
    line-height: 20px;
    color: #333;
}
.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    padding: 40px;
    background-image: linear-gradient(to right, #fff, #fefefe);
    padding: 40px 0;
}
.main {
    padding: 40px 0;
}
table {
    border-collapse: collapse;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-right: 40px;
}
table tr td,
table tr,
th {
    padding: 10px 20px;
    border: 1px solid #333;
}
table thead tr th a {
    text-decoration: none;
}
table tbody tr td input,
table tbody tr td select {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 3px;
}
form {
    margin-right: 40px;
}
form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
form dl dt {
    margin-bottom: 5px;
    font-weight: 700;
}
.container:last-child {
    display: flex;
}
form select {
    padding: 10px;
    border: 1px solid #333;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 3px;
}
form h2 {
    margin-bottom: 10px;
}
.deleteBtn,
.editBtn,
.cancelBtn,
.saveBtn {
    text-decoration: none;
    margin-right: 5px;
}
.deleteBtn,
.cancelBtn {
    color: red;
}
.editBtn {
    color: #333;
}
.saveBtn {
    color: green;
}